
{% if user_id = blog.usr.id %}

	<h1>You can add a new post here.</h1><br>
	<form action="{% url 'blog:add_post_done' blog_id %}" method="post" id="addpost">
	{% csrf_token %}
	<p>Title:</p> <input type="text" name="title"><br>
	<p>Tag:</p> <input type="text" name="tag"><br>
	<p>Content:</p>  
	<textarea rows="20" cols="50" name="body" form="addpost"></textarea><br><br>
	<input type="submit" value="Submit" />
	</form>

{% else %}
	<h1>Sorry, you are not the owner of this blog.</h1><br>
	<a href="{% url 'blog:blog_pg' blog_id 0 %}">Let's go back to the blog.</a>
{% endif %}
